.container {
      display: flex;
      justify-content: 'center';
      align-items: 'center';
    }
.errorMessage {
      font-size: 18;
      margin-bottom: 20;
      text-align: 'center';
    }
.button {
        background-color: var(--primary-color);
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
}